:root {
    --body-color: #3b2e2a;
    --font-color: #fef1e0;
    --button-color: #5e4b55;
    --header-color: #63594d;
    --link-hover-color: #d14334;
    --subtitle-color:  #69a5a4;

    --background-dois-color: #2c1001;
}