details summary{
    margin: 10px 0;
}

details p{
    margin: 25px 0;
    color: #deb297
}

details a{
    color:#b3aca4;
}

details a:hover{
    color: var(--link-hover-color)
}

section.cursos-details{
    display: flex;
}

section.cursos-details section.texto-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:935px){
    section.cursos-details{
        flex-direction: column;
    }
    section.cursos-details section.texto-details{
        justify-content: flex-start;
    }
}