section#formacao{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
}

ol{
    list-style: circle ;
}

section#formacao section.formacao{
    margin: 2% 0;
    display: flex;
    height: 40%;
}

section#formacao section.formacao h2{
    color: tomato;
    margin-bottom: 5%;
    font-size: 120%;
}

section#formacao section.formacao h3{
    font-size: 85%;
    line-height: 20px;
    color: var(--subtitle-color)
}

section#formacao a{
    color: #deb297;
}

section#formacao a:hover{
    color: var(--link-hover-color)
}


section#formacao section.formacao ol, section#formacao section.formacao ol li{
    margin: 4%;
    line-height: 20px;
}

section#formacao section.formacao p, section#formacao section.formacao ol li{
    font-size: 80%;
}


section#ensinomedio{
    width: 100%;

}

section#texto-ensinomedio{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



section#imagem-ensinomedio{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#imagem-ensinomedio img{
    width: 35%;
    height: 70%;
}

/* section#emprego{
} */

section#emprego section#texto-emprego{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

section#emprego section#imagem-emprego{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

section#emprego section#imagem-emprego img{
    width: 40%;
    height: 80%;
}

section#cursos{
    display: flex;
    flex-direction: column;
}


section#cursos section.curso{
    display: flex;
    width: 100%;
}

section#cursos section.texto-curso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

section#cursos section.imagem-curso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

section#cursos section#imagem-uniasselvi img{
    width: 60%;
    height: 70%;
}

section#cursos section#imagem-cursoemvideo img{
    width: 40%;
    height: 90%;
}

@media screen and (max-width: 930px){
    section.formacao{
        flex-direction: column;
        align-items: center;
    }

    section.formacao h2{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    section#formacao section.formacao p{
        margin: 15% 0 ;
    }

    section#imagem-ensinomedio img{
        width: 50%;
    }

    section#emprego section#imagem-emprego img{
        width: 80%;
        margin: 15% 0;
    }

    section.curso{
        flex-direction: column;
        align-items: center;

    }

    section#cursos section.texto-curso{
        width: 50%;
        
    }

    section.formacao section.texto-formacao{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#imagem-dankicode img{
        width: 170%;
    }

    section#formacao section.formacao h3{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}