section#ingles{
    height: 100%;
    background-color: var(--background-dois-color);
    display: flex;
    
}

section#ingles section#texto-ingles{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
}

section#ingles h2{
    margin: 4% 0 0 8%;
    width: 100%;
    font-size: 180%;
}

section#ingles p, section#ingles a{
    margin: 0 0 0 8%;
    width: 70%;
    text-align: justify;
    line-height: 30px;
    font-size: 80%;
}

section#ingles section#texto-ingles a:hover{
    color: var(--link-hover-color);
}

section#ingles section#imagem-ingles{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section#ingles section#imagem-ingles img{
    width: 110%;
    height: 80%;
}

@media screen and (max-width: 1000px){
    section#ingles{
        flex-direction: column;
        height: 100%;
    }

    section#ingles section#texto-ingles{
        width: 100%;
        height: 70%;
    }

    section#ingles section#texto-ingles h2{
        width: 100% ;
        margin: 5% 0 5% 0;
        text-align: center;
    }

    section#ingles section#texto-ingles p{
        width: 84% ;
        margin-left: 8%;
        margin-right: 8%;
    }

    section#ingles section#imagem-ingles{
        width: 100%;
        height: 30%;
        align-items: center;
    }

    section#ingles section#imagem-ingles img{
        width: 30%;
    }

}

@media screen and (max-width: 430px){
    section#ingles section#texto-ingles{
        height: 65%;
    }

    section#ingles section#texto-ingles p{
        line-height: 100%;
    }

    section#ingles section#imagem-ingles{
        height: 35%;
    }

    section#ingles section#imagem-ingles img{
        width: 84%;
        height: 90%;
    }
}