body{
    background-color: var(--body-color);
    color: var(--font-color);
    font-family: "Press Start 2P", sans-serif;

}

a{
    text-decoration: none;
    color: var(--font-color);
    
}

main{
    margin: 0 8%;

    height: 100%;

    display: flex;
    align-items: flex-end;
}

main section#nome{
    height: calc(100vh - 50px) !important;
    width: 70%;
    display: flex;
    align-items: center;
    align-content: center;

    flex-wrap: wrap;
}

main section#nome h1{
    width: 70%;
    text-align: center;
    font-size: 150%;
}

main section#nome a{
    background-color: var(--button-color);
    border-radius: 8px;

    width: 70%;
    height: 8%;

    color: var(--font-color);

    margin: 5% 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

main section#nome a img{
    width: 4%;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

main section#foto{
    width: 30%;
} 

main img.foto-pixel{
    width: 120%;
}

@media screen and (max-width: 1200px){

    main section#foto{
        width: 50%;
    }

    main img.foto-pixel{
        width: 120%;
    }
}

@media screen and (max-width: 640px){
    main{
        height: calc(100vh - 50px) !important;
        flex-direction: column;
        justify-content: space-around;
    }

    main section#nome{
        width: 100%;
        height: 50%;
    }

    main section#foto{
        display: flex;
        height: 50%;
        width: 100%;
        justify-content: center;
    }

    main img.foto-pixel{
        width: 80%;
        height: 100%;
    }

    main section#nome a{
        height: 15%;
        width: 100%;
    }
    
    main section#nome h1{
        width: 100%;
    }

    main section#nome a img{
        width: 5%;
    }



}

@media screen and (min-width: 400px){
    main{
        flex-direction: row;
    }

    main img.foto-pixel{
        width: 120%;
    }
}