section#sobre{
    height: 100vh;
    background-color: var(--sobre-color);
    display: flex;
    
}

section#sobre section#texto-sobre{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
}

section#sobre h2{
    margin: 0 0 0 8%;
    width: 100%;
    font-size: 180%;
}

section#sobre p{
    margin: 0 0 0 8%;
    width: 70%;
    text-align: justify;
    line-height: 150%;
    font-size: 80%;
}

section#sobre section#imagem-sobre{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section#sobre section#imagem-sobre img{
    width: 110%;
    height: 80%;
}

@media screen and (max-width: 850px){
    section#sobre{
        flex-direction: column;
    }

    section#sobre section#texto-sobre{
        width: 100%;
        height: 70%;
    }

    section#sobre section#texto-sobre h2{
        width: 100% ;
        margin: 5% 0 5% 0;
        text-align: center;
    }

    section#sobre section#texto-sobre p{
        width: 84% ;
        margin-left: 8%;
        margin-right: 8%;
        /* padding: 2% */
    }

    section#sobre section#imagem-sobre{
        width: 100%;
        height: 30%;
        align-items: center;
    }

    section#sobre section#imagem-sobre img{
        width: 50%;
        height: 100%;
    }

}

@media screen and (max-width: 430px){
    section#sobre section#texto-sobre{
        height: 80%;
    }

    section#sobre section#texto-sobre p{
        line-height: 100%;
    }

    section#sobre section#imagem-sobre{
        height: 20%;
    }
}